<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entendiste">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Entendiste"
        android:usesCleartextTraffic="true">
        <activity android:name=".AnswerActivity"></activity>
        <activity
            android:name=".TemasActivity"
            android:label="@string/title_activity_temas"
            android:theme="@style/Theme.Entendiste.NoActionBar" />
        <activity
            android:name=".AsignaturasActivity"
            android:label="@string/title_activity_asignaturas"
            android:theme="@style/Theme.Entendiste.NoActionBar" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"> <!-- Para que no se reinicie la activity al girar el movil -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>